USE [master]
GO
/****** Object:  Database [GSB_gesAMM]    Script Date: 05/01/2023 14:50:04 ******/
CREATE DATABASE [GSB_gesAMM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GSB_gesAMM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GSB_gesAMM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GSB_gesAMM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GSB_gesAMM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GSB_gesAMM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GSB_gesAMM]
GO
/****** Object:  Table [dbo].[DECISION]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DECISION](
	[DCS_ID] [int] NOT NULL,
	[DCS_LIBELLE] [varchar](15) NOT NULL,
 CONSTRAINT [PK__DECISION__7137882A78E6A0B3] PRIMARY KEY CLUSTERED 
(
	[DCS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ETAPE]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETAPE](
	[ETP_NUM] [int] NOT NULL,
	[ETP_LIBELLE] [varchar](50) NULL,
	[ETP_NORME] [varchar](20) NULL,
	[ETP_DATE_NORME] [datetime] NULL,
 CONSTRAINT [PK__ETAPE__A467C29F51A56BAD] PRIMARY KEY CLUSTERED 
(
	[ETP_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAMILLE]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMILLE](
	[FAM_CODE] [varchar](50) NOT NULL,
	[FAM_LIBELLE] [varchar](255) NOT NULL,
	[FAM_NB_MEDI_AMM] [int] NULL,
 CONSTRAINT [PK__FAMILLE__35344A2FF423D3CD] PRIMARY KEY CLUSTERED 
(
	[FAM_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIQUE]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIQUE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dateMaj] [datetime] NOT NULL,
	[idUtilHist] [int] NOT NULL,
	[etpNumHist] [int] NOT NULL,
	[normeAvMaj] [varchar](20) NOT NULL,
	[normeApMaj] [varchar](20) NOT NULL,
	[dateNormeAvMaj] [datetime] NOT NULL,
	[dateNormeApMaj] [datetime] NOT NULL,
 CONSTRAINT [PK2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICAMENT]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICAMENT](
	[MED_DEPOTLEGAL] [varchar](50) NOT NULL,
	[MED_NOMCOMMERCIAL] [varchar](25) NULL,
	[MED_COMPOSITION] [varchar](255) NULL,
	[MED_EFFETS] [varchar](255) NULL,
	[MED_CONTREINDIC] [varchar](255) NULL,
	[MED_AMM] [tinyint] NULL,
	[MED_FAM_CODE] [varchar](50) NULL,
 CONSTRAINT [PK__MEDICAME__5CC80CE429D663F9] PRIMARY KEY CLUSTERED 
(
	[MED_DEPOTLEGAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UTILISATEUR]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UTILISATEUR](
	[id] [int] NOT NULL,
	[identifiant] [varchar](20) NULL,
	[mdp] [varchar](50) NULL,
 CONSTRAINT [pk1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKFLOW]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKFLOW](
	[WRK_DATE_DECISION] [datetime] NULL,
	[WRK_DCS_ID] [int] NULL,
	[WRK_ETP_NUM] [int] NOT NULL,
	[WRK_MED_DEPOTLEGAL] [varchar](50) NOT NULL,
 CONSTRAINT [PK__WORKFLOW__FA90046C8FE4EB70] PRIMARY KEY CLUSTERED 
(
	[WRK_ETP_NUM] ASC,
	[WRK_MED_DEPOTLEGAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DECISION] ([DCS_ID], [DCS_LIBELLE]) VALUES (1, N'refusée')
INSERT [dbo].[DECISION] ([DCS_ID], [DCS_LIBELLE]) VALUES (2, N'validée')
GO
INSERT [dbo].[ETAPE] ([ETP_NUM], [ETP_LIBELLE], [ETP_NORME], [ETP_DATE_NORME]) VALUES (1, N'Définition du protocole de validation', NULL, NULL)
INSERT [dbo].[ETAPE] ([ETP_NUM], [ETP_LIBELLE], [ETP_NORME], [ETP_DATE_NORME]) VALUES (2, N'Pharmacologie expérimentale', NULL, NULL)
INSERT [dbo].[ETAPE] ([ETP_NUM], [ETP_LIBELLE], [ETP_NORME], [ETP_DATE_NORME]) VALUES (3, N'Toxicologie', N'726/2004/CEE', CAST(N'2004-05-12T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[FAMILLE] ([FAM_CODE], [FAM_LIBELLE], [FAM_NB_MEDI_AMM]) VALUES (N'AA   ', N'Antalgiques en association                                                                                                                                                                                                                                     ', 0)
INSERT [dbo].[FAMILLE] ([FAM_CODE], [FAM_LIBELLE], [FAM_NB_MEDI_AMM]) VALUES (N'AAA  ', N'Antalgiques antipyrétiques en association                                                                                                                                                                                                                      ', 0)
INSERT [dbo].[FAMILLE] ([FAM_CODE], [FAM_LIBELLE], [FAM_NB_MEDI_AMM]) VALUES (N'AAC  ', N'Antidépresseur d''action centrale                                                                                                                                                                                                                               ', 0)
GO
INSERT [dbo].[MEDICAMENT] ([MED_DEPOTLEGAL], [MED_NOMCOMMERCIAL], [MED_COMPOSITION], [MED_EFFETS], [MED_CONTREINDIC], [MED_AMM], [MED_FAM_CODE]) VALUES (N'AMOPIL7', N'AMOPIL', N'Amoxicilline', N'Ce médicament, plus puissant que les pénicillines simples, est utilisé pour traiter des infections bactériennes spécifiques.', N'Ce médicament est contre-indiqué en cas d''allergie aux pénicillines. Il doit être administré avec prudence en cas d''allergie aux céphalosporines.                                                                                                              ', 1, N'ABP')
GO
INSERT [dbo].[UTILISATEUR] ([id], [identifiant], [mdp]) VALUES (1, N'Guigasp', N'Ggaspard43')
GO
INSERT [dbo].[WORKFLOW] ([WRK_DATE_DECISION], [WRK_DCS_ID], [WRK_ETP_NUM], [WRK_MED_DEPOTLEGAL]) VALUES (CAST(N'2000-06-27T00:00:00.000' AS DateTime), 2, 1, N'3MYC7')
INSERT [dbo].[WORKFLOW] ([WRK_DATE_DECISION], [WRK_DCS_ID], [WRK_ETP_NUM], [WRK_MED_DEPOTLEGAL]) VALUES (CAST(N'2000-12-01T00:00:00.000' AS DateTime), 2, 1, N'ADIMOL9')
INSERT [dbo].[WORKFLOW] ([WRK_DATE_DECISION], [WRK_DCS_ID], [WRK_ETP_NUM], [WRK_MED_DEPOTLEGAL]) VALUES (CAST(N'2000-07-27T00:00:00.000' AS DateTime), 2, 2, N'3MYC7')
GO
ALTER TABLE [dbo].[HISTORIQUE]  WITH CHECK ADD  CONSTRAINT [FK_HISTORIQUE_ETAPE] FOREIGN KEY([etpNumHist])
REFERENCES [dbo].[ETAPE] ([ETP_NUM])
GO
ALTER TABLE [dbo].[HISTORIQUE] CHECK CONSTRAINT [FK_HISTORIQUE_ETAPE]
GO
ALTER TABLE [dbo].[HISTORIQUE]  WITH CHECK ADD  CONSTRAINT [FK_HISTORIQUE_UTILISATEUR] FOREIGN KEY([idUtilHist])
REFERENCES [dbo].[UTILISATEUR] ([id])
GO
ALTER TABLE [dbo].[HISTORIQUE] CHECK CONSTRAINT [FK_HISTORIQUE_UTILISATEUR]
GO
ALTER TABLE [dbo].[MEDICAMENT]  WITH CHECK ADD  CONSTRAINT [FK_MEDICAMENT_FAMILLE] FOREIGN KEY([MED_FAM_CODE])
REFERENCES [dbo].[FAMILLE] ([FAM_CODE])
GO
ALTER TABLE [dbo].[MEDICAMENT] CHECK CONSTRAINT [FK_MEDICAMENT_FAMILLE]
GO
ALTER TABLE [dbo].[WORKFLOW]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_] FOREIGN KEY([WRK_DCS_ID])
REFERENCES [dbo].[DECISION] ([DCS_ID])
GO
ALTER TABLE [dbo].[WORKFLOW] CHECK CONSTRAINT [FK_Table_1_]
GO
ALTER TABLE [dbo].[WORKFLOW]  WITH CHECK ADD  CONSTRAINT [FK_WORKFLOW_ETAPE] FOREIGN KEY([WRK_ETP_NUM])
REFERENCES [dbo].[ETAPE] ([ETP_NUM])
GO
ALTER TABLE [dbo].[WORKFLOW] CHECK CONSTRAINT [FK_WORKFLOW_ETAPE]
GO
ALTER TABLE [dbo].[WORKFLOW]  WITH CHECK ADD  CONSTRAINT [FK_WORKFLOW_MEDICAMENT] FOREIGN KEY([WRK_MED_DEPOTLEGAL])
REFERENCES [dbo].[MEDICAMENT] ([MED_DEPOTLEGAL])
GO
ALTER TABLE [dbo].[WORKFLOW] CHECK CONSTRAINT [FK_WORKFLOW_MEDICAMENT]
GO
/****** Object:  StoredProcedure [dbo].[ajoutWorkflow]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ajoutWorkflow](@DepotLegal varchar(50))
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    insert into WORKFLOW
	values(GETDATE(), 1, (select COUNT(*) from WORKFLOW where WRK_MED_DEPOTLEGAL = @DepotLegal)+1, @DepotLegal)
END
GO
/****** Object:  StoredProcedure [dbo].[ChangDecision]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ChangDecision] (@DepotLegal varchar(50), @NumEtape int, @IdDeci int)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	update WORKFLOW
	set WRK_DCS_ID = @IdDeci
	where WRK_ETP_NUM = @NumEtape and WRK_MED_DEPOTLEGAL = @DepotLegal

	update WORKFLOW
	set WRK_DATE_DECISION = GETDATE()
	where WRK_ETP_NUM = @NumEtape and WRK_MED_DEPOTLEGAL = @DepotLegal
END
GO
/****** Object:  StoredProcedure [dbo].[getDecision]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getDecision]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT DCS_ID, DCS_LIBELLE from DECISION
END
GO
/****** Object:  StoredProcedure [dbo].[getEtape]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getEtape]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ETP_NUM, ETP_LIBELLE, ETP_NORME, ETP_DATE_NORME from ETAPE
END
GO
/****** Object:  StoredProcedure [dbo].[getFamille]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getFamille]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT FAM_CODE, FAM_LIBELLE, FAM_NB_MEDI_AMM from FAMILLE
END
GO
/****** Object:  StoredProcedure [dbo].[getMedicaments]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getMedicaments]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT MED_DEPOTLEGAL, MED_NOMCOMMERCIAL, MED_COMPOSITION, MED_EFFETS, MED_CONTREINDIC, MED_AMM, MED_FAM_CODE from MEDICAMENT
END
GO
/****** Object:  StoredProcedure [dbo].[getWorkflow]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getWorkflow]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT WRK_DATE_DECISION, WRK_DCS_ID, WRK_ETP_NUM, WRK_MED_DEPOTLEGAL from WORKFLOW
END
GO
/****** Object:  StoredProcedure [dbo].[prc_ListeTousUtilisateurs]    Script Date: 05/01/2023 14:50:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[prc_ListeTousUtilisateurs]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select id, identifiant, mdp
	from UTILISATEUR
	order by id asc
END
GO
USE [master]
GO
